*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body{
  background: #efefef;
  color: 5f5f5f;
}

a{
  text-decoration: none;
  color: #555;
}

/*      navbar     */
.navbar{
  background: #fff;
  padding: 8px 5%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 2;
  font-size: 14px;
}

.logo{
  width: 30px;
  margin-right: 20px;
}

.logo-input-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul li a img{
  font-weight: 100;
  margin: 0 15px;
  width: 20px;
}

.navbar ul li{
  list-style: none;
  display: inline-block;
}

.navbar ul li a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #777
}

.navbar ul li a img span::after{
  content: ' ';
  width: 100%;
  height: 2px;
  color: green;
  position: absolute;
  left: 0;
  bottom: -6px;
}

.navbar ul li a span{
  position: relative;
  color: #777;
  margin: auto;
}

.search-box{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  background: #fff;
}

.profile-details{
  display: flex;
  justify-content: flex-start;
}

::placeholder{
  margin-left: 80px;
  font-weight: 400;
}

.search{
  width: 18px;
  color: #ccc;
  font-weight: 100;
}

.profile-pic{
  margin-left: 15px;
}

.profile-pic img{
  width: 35px;
  border-radius: 50%
}

.search-box{
  display: inline-flex;
  width: 200px;
  background: #fff;
}

.search-box input{
 padding: 8px 18px;
 margin-right: 15px;
 border-radius: 20px;
 outline: 0;
 border: 0;
 border: 1px solid #ccc;
 margin-left: -20px;
 width: 100%;
 background: transparent;
 cursor: pointer;
}

/*      content     */

.container{
  display: flex;
  justify-content: space-between;
  padding: 8px 5%;
}

.left-sidebar, .right-sidebar{
  position: sticky;
  top: 73px;
  flex-basis: 25%;
  align-self: flex-start;
  background: #efefef; 
  border-radius: 8px;
}

.cover-profile-user{
  width: 100%;
}

.cover-profile-user-inner{
  background: #fff;
  padding: 0 20px;
  font-size: 14px;
}

.profile-img{
  width: 90px;
  padding: 4px;
  border-radius: 50%;
  margin-top: -45px;
  background: #fff;
}

.cover-profile-user-inner h1{
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.cover-profile-user-inner h3{
  font-size: 14px;
  font-weight: 500;
  color: #777;
}

.cover-profile-user-inner{
  font-size: 14px;
}

.profile-view-detail{
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.profile-view-detail ul{
  width: 100%;
}

.profile-view-detail ul li{
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: #555;
  font-size: 13px;
  margin: 6px 0;
}

.profile-view-detail ul span{
  margin-left: 75px;
  color: #045be6;
}

.profile-icon{
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}

.profile-icon a{ 
  flex-basis: 50%;
  border-left: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  color: #333;
}

.profile-icon a:first-child{
  border-left: 0;
}

.profile-icon a img{
  width: 25px;
}

.profile-activity{
  margin: 8px 0;
  background: #fff;
  padding: 10px;
}

.profile-activity h3{
  font-weight: 600;
  color: #333;
  font-size: 14px;
}

.profile-activity a{
  display: flex;
  margin: 8px 0;
  color: #555;
  font-size: 14px;
}

.profile-activity a img{
  width: 18px;
  margin-right: 10px;
}

.discover-more{
  border-top: 1px solid #ccc;
  padding: 5px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discover-more a{
  color: #045be6;
  text-align: center;
}

.show-more{
  text-align: center;
}

/*    right-sidebar   */
.info-icon{
  width: 15px;
  float: right;
  margin-top: 15px;
}

.right-sidebar .sidebar-news{
  margin: 0;
}

.left-sidebar .cover-profile-user{
  margin: 0;
}

.sidebar-news{
  background: #fff;
  padding: 10px 25px;
}

.sidebar-news h3{
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0 30px;
  color: #333;
}

.sidebar-news a{
  display: block;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: -5px;
  color: #555;
}

.sidebar-news span{
  font-size: 12px;
  color: #777;
}

.sidebar-news .read-more-link{
  margin: 20px 0 10px;
  color: #045be6; 
  font-weight: 600;
}

.sidebar-ad{
  text-align: center;
  font-size: 12px;
  background: #fff;
  margin: 12px 0;
  padding: 25px 15px;
}

.sidebar-ad img{
  width: 60px;
  border-radius: 50%;
  padding: 4px;
  margin-bottom: 15px;
}

.sidebar-ad small{
  font-weight: 600;
  float: right;
}

.sidebar-ad p{
  margin: 30px 0 10px;
}

.sidebar-ad b{
  margin-top: 25px;
}

.learn-ad{
  color: #045be6;
  border: 1px solid #045be6;
  padding: 5px 15px;
  display: block;
  width: 100px;
  border-radius: 30px;
  margin: 10px auto;
  text-align: center;
}

.sidebar-useful-link{
  padding: 15px 25px;
  text-align: center;
}

.sidebar-useful-link a{
  font-size: 14px;
  color: #555;
  display: inline-block;
  margin: 4px 2px;
}

.copyright{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  text-align: center;
}

.copyright img{
  width: 16px;
  height: 18px;
  font-size: 12px;
  margin-top: 10px;
  font-size: 14px;
}

.copyright p{
  font-size: 14px;
  margin-left: 3px;
}

/*   main-content  */

.main-content{
  flex-basis: 48%;
  align-self: flex-start;
}

.main-content-inner{
  background: #fff;
}

.create-post{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  padding: 20px 25px 10px;
}

.create-post img{
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.create-post textarea{
  margin-top: 8px;
  outline: 0;
  resize: none;
  border: 0;
  width: 100%;
  background: transparent;
  border-radius: 20px;
  padding: 5px 15px;
}

::placeholder{
  font-weight: 500;
}

.create-post-link{
  background: #fff;
}

.create-post-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ccc;
}

.create-post-link li{
  list-style: none;
  display: flex;
  overflow: hidden;
  flex-basis: 25%;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  border-right: 1px solid #ccc;
  font-size: 13px;
  cursor: pointer;
}

.create-post-link li:last-child{
  background: #045be6;
  color: #fff;
  border-right: 0;
  border-top: 0;
}

.create-post-link li img{
  margin-right: 5px;
  width: 18px;
}

.sort-by{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.sort-by hr{
  flex: 1;
  border: 0;
  height: 1px;
  background: #ccc;
}

.sort-by p{
  font-size: 13px;
  padding-left: 5px;
}

.sort-by p img{
  width: 12px;
  margin-left: 3px;
}

.sort-by span{
  font-weight: 600;
  cursor: pointer;
}

.post{
  background: #fff;
  padding: 25px 0 0px;
  margin: 5px 0
}

.author-post{
  margin-left: 20px;
  margin-bottom: 15px;
}

.author-post h1{
  font-size: 18px;
  font-weight: 600;
  color: #333;
  padding-bottom: 5px;
}

.author-post small{
  display: flex;
  padding: 2px 0;
}

.author-post img{
  width: 35px;
  border-radius: 50%;
}

.post p{
  font-size: 14px;
  margin: 20px;
}

.post-stat{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  font-size: 13px;
  padding: 10px;
}

.post-stat img{
  width: 16px;
  margin-left: -3px
}

.post-activity-link{
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 10px;
}

.post-activity-link img{
  width: 18px;
  margin-right: 5px;
}

.post-activity-link .post-activity-pics{
  width: 25px;
  border-radius: 50%;
}

.clap{
  width: 12px;
}

.first-post{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-menu-wrap{
  position: absolute;
  top: 100%;
  right: 5%;
  width: 320px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
}

.profile-menu-wrap.open-menu{
  max-height: 400px;
}

.profile-menu{
  background: #999;
  color: #fff;
  padding: 20px;
  margin: 10px;
}

.user-info{
  display: flex;
  align-items: center;
}

.user-info img{
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.user-info{
  font-weight: 500;
  margin-bottom: -7px
}

.user-info a{
  color: #c9dbf8;
  font-size: 13px
}

.profile-menu hr{
  border: 0;
  height: 1px;
  width: 100%;
  background: #fff;
  margin: 15px 0 10px;
}

.profile-menu-link p, span{
  color: #fff;
  width: 100%;
}

.profile-menu-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0;
  font-size: 14px;
}

.profile-menu-link p{
  width: 100%;
}

.profile-menu-link img{
  width: 25px;
  border-radius: 50%;
  margin-right: 15px;
}

.show-more{
  display: none;
}

/*      Profile menu page         */
.profile-menu-info{
  flex-basis: 73%;
}

.user-info-details{
  background: #fff;
  padding: 0 4% 20px;
}

.my-pic{
  width: 150px;
  border-radius: 50%;
  margin-top: -75px;
  border: 5px solid #fff;
}

.user-info-details h1{
  font-size: 28px;
  font-weight: 800;
  margin: 10px 0;
  color: #222;
}

.user-info-details b{
  font-weight: 500;
}

.user-info-details p{
  margin-top: 5px;
}

.user-info-details p a{
  color: #045be6;
  font-weight: 500;
}

.mutual-connection{
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.mutual-connection img{
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.mutual-connection span{
  color: #555;
}

.profil-btn{
  margin: 20px 0;
}

.profil-btn a{
  display: inline-flex;
  padding: 6px 15px;
  background: #e4e6eb;
  align-items: center;
  margin-right: 10px;
  border-radius: 4px;
  color: #333;
}

.profil-btn a:first-child{
  background: #045be6;
  color: #fff;
}

.profil-btn a img{
  width: 18px;
  margin-right: 5px;
}

.profile-description{
  margin: 12px 0;
  padding: 10px 5% 30px;
  background: #fff;
}

.profile-description h2{
  color: #333;
  font-weight: 600;
  margin: 10px 0 20px;
}

.see-more-link{
  display: block;
  text-align: right;
  font-size: 15px;
  color: #045be6;
}

.profile-desc-link{
  display: flex;
  align-items: flex-start;
  margin: 20px 0 10px;
}

.profile-desc-link img{
  margin-right: 25px;
  margin-top: 5px;
  width: 50px;
}

.profile-desc-link div{
  width: 100%;
}

.profile-desc-link div h3{
  margin: 8px 0;
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.profile-desc-link div b{
  font-size: 15px;
  font-weight: 500;
  display: block;
}

.profile-desc-link h3{
  margin-top: 5px;
}

.profile-desc-link p{
  margin: 10px 0;
}

.profile-desc-link hr{
  border: 1px solid #999;
  color: #333;
  margin: 20px 0;
}

.profile-desc-link-tag{
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-desc-link-tag a{
  color: #333;
}

.profile-desc-link-tag img{
  width: 20px;
  margin-left: 8px;
}

.skill-btn{
  display: inline-block;
  margin: 10px 5px;
  padding: 6px 18px;
  color: #555;
  border: 1px solid #777;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
}

.lang-btn{
  display: inline-flex;
  padding: 6px 18px;
  background: #e4e6eb;
  margin: 10px 5px;
  color: #333;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
}

/*  sidebar-menu */
.sidebar-menu{
  flex-basis: 25%;
}
.sidebar-menu .sidebar-ad{
  margin: 0;
}

.sidebar-people{
  background: #fff;
  margin: 12px 0;
  padding: 15px 25px;
  font-size: 12px;
}

.sidebar-people h3{
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0 20px;
}

.sidebar-people-link{
  display: flex;
  align-items: flex-start;
  margin: 6px 0;
}

.sidebar-people-link img{
  width: 40px;
  border-radius: 50%;
  margin-right: 18px;
  margin-top: 5px;
}

.sidebar-people-link h2{
  font-weight: 500;
  font-size: 16px;
}

.sidebar-people-link a{
  display: inline-block;
  border: 1px solid #5f5f5f;
  margin: 10px 0;
  padding: 5px 25px;
  border-radius: 20px;
  font-weight: 500;
}

/* profile-footer*/
.profile-footer{
  padding: 0 6% 30px;
}

.profile-footer .sidebar-useful-link{
  text-align: left;
  padding: 0;
}

.sidebar-useful-link .copyright{
  justify-content: flex-start;
}

/* media querry for smaller screen */
@media(max-width: 560px){
  .navbar{
    flex-wrap: nowrap;
  }
  .navbar ul li a img{
    width: 14px;
    margin: 0 3px;
  }
  .search-box{
    width: auto;
    padding: 0;
    background: transparent;
  }
  .navbar input{
    width: 0;
    padding: 0;
  }
  .navbar ul li a span{
    display: none;
  }
  .navbar ul li a{
    margin: 5px;
    padding: 0;
  }
  .profile-pic img{
   width: 30px;
  }
  .container{
    padding: 15px 3%;
    display: block;
  }
  .left-sidebar, .right-sidebar{
    flex-basis: 100%;
    position: relative;
    top: unset;
  }
  .main-content{
    flex-basis: 100%;
  }
  .sidebar-useful-link .copyright{
    justify-content: center;
  }
  .my-pic{
    width: 100px;
    margin-top: -50px;
  }
 .copyright img{
    margin-right: 10px;
  }
  p{
    font-size: 14px;
  }
  .profile-activity{
    display: none;
  }
  .profile-activity.open-activity{
    display: block;
  }
  .show-more{
    display: block;
    padding: 10px 3px;
    cursor: pointer;
  }
}